#navbarcontainer {
  background-color: #01013a;
}

.brand-text {
  color: rgb(148, 186, 241) !important;
}

.brand-text:hover {
  color: white !important;
}

.nav-link:hover {
  color: #fcb9b1 !important;
}

.dark-blue {
  color: #00005c !important;
}
