#navbarcontainer {
  background-color: #01013a;
}

#navbar-brand {
  width: 120px !important;
}

.brand-text {
  color: rgb(148, 186, 241) !important;
}

.brand-text:hover {
  color: white !important;
}

.nav-link:hover {
  color: #fcb9b1 !important;
}

.dark-blue {
  color: #00005c !important;
}

#state-flag {
  max-width: 400px;
}

#small-flag {
  max-width: 200px;
}

.rep-photo {
  width: 200px;
}

@media (max-width: 400px) {
  .rep-photo {
    width: 120px;
  }
}
@media (max-width: 300px) {
  .rep-photo {
    width: 80px;
  }
}
