{% extends 'admin_base.html' %} {% block title %} Admin - State Info for {{state.name}} {% endblock %} {% block content
%} <div class="container">
    <h1>State Info for {{state.name}}</h1>
    <div class="container">
        <div class="my-4">
            <table class="table table-sm table-responsive user-table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">State Name</th>
                        <td><b>{{state.name}}</b></td>
                    </tr>
                    <tr>
                        <th scope="row">State Abbreviation</th>
                        <td>{{state.id}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Capital</th>
                        <td>{{state.capital}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Registration URL</th>
                        <td>{{state.registration_url}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Elections URL</th>
                        <td>{{state.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Registration In-Person Deadline</th>
                        <td>{{state.registration_in_person_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Registration Mail Deadline</th>
                        <td>{{state.registration_mail_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Registration Online Deadline</th>
                        <td>{{state.registration_online_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Absentee Application In-Person Deadline</th>
                        <td>{{state.absentee_application_in_person_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Absentee Application Mail Deadline</th>
                        <td>{{state.absentee_application_mail_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Absentee Application Online Deadline</th>
                        <td>{{state.absentee_application_online_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Absentee Vote Deadline</th>
                        <td>{{state.voted_absentee_ballot_deadline}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Check Registration URL</th>
                        <td>{{state.check_registration_url}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Polling Location URL</th>
                        <td>{{state.polling_location_url}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Absentee Ballot URL</th>
                        <td>{{state.absentee_ballot_url}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Local Election URL</th>
                        <td>{{state.local_election_url}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ballot Tracker URL</th>
                        <td>{{state.ballot_tracker_url}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Registration Rules for {{state.name}}</th>
                        <td>
                            <ul class="list-group"> {% for rule in state.registration_rules %} <li
                                    class="list-group-item py-1"> {{rule.rule}}<br><a
                                        href="/admin/rules/{{rule.id}}/edit"
                                        class="btn btn-outline-primary btn-sm m-1 px-2">Edit Rule</a>
                                    <form action="/admin/state/{{state.id}}/rules/{{rule.id}}/delete"
                                        class="form-inline d-inline" method="POST">
                                        <button class="btn btn-outline-danger btn-sm m-1 px-2">Delete Rule From
                                            State</button>
                                    </form>
                                </li> {% endfor %} </ul>
                            <div class="container my-2"><a href="/admin/rules/new"
                                    class="btn btn-outline-primary btn-lg">Add New Rule</a></div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Elections in {{state.name}}</th>
                        <td>
                            <ul class="list-group"> {% for election in state.elections %} <li
                                    class="list-group-item py-1"><b>Election: </b>{{election.name}}<br><b>Date:
                                    </b>{{election.full_date}}</li> {% endfor %} </ul>
                            <div class="container my-2"><a href="/admin/elections/new"
                                    class="btn btn-outline-primary btn-lg">Add New Election</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="my-2 d-flex flex-column align-items-center" id="user-buttons">
            <a href="/admin/states/{{state.id}}/edit"><button
                    class="btn btn-primary mx-1 btn-lg d-inline">Edit</button></a>
        </div>
    </div> {% endblock %}