{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block content %} <div class="container">
    <div class="container d-flex flex-column align-items-center text-center">
        <h1 class="dark-blue">Login</h1>
        <div class="my-2"><small>Users that do not wish to register can also log in to a Demo account via the <span
                    class="text-primary fw-bold">Login as Demo User</span> button below.</div>
    </div>
    <form method="POST" id="login-form"> {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
        'hidden' %} <div class="form-group"> {{field.label}} {{field(class_="form-control")}} {% for error in
            field.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %} </div> {% endfor %}<div
            class="mt-3 text-center"> <button type="submit" class="btn btn-success btn-lg mx-2">Login</button><span
                class="btn btn-primary btn-lg mx-2" id="demo-login">Login as Demo User</span><a href="/reset_password"
                class="btn btn-warning btn-lg mx-2">Reset Password</a></div>
    </form>
</div> {% endblock %}