{% extends 'base.html' %} {% block content %} <h1 class="dark-blue fs-2">Registration</h1>
<div><small>Already a member? <a href="/login">Log in</a></small></div>
<div class="lead my-1">This application is still in beta and not fully secure. <b class="text-danger">Do not use real
        emails or passwords.</b>
    <div class="my-1">If you do not wish to use your own mailing address, please click "Generate Random Address" and a
        random one will be generated for you.</div>
</div>
<form id="user-form" action="/register" method="POST"> {{ form.hidden_tag() }} <div class="row">
        <div class="col-12 col-md-4"> {{form.username.label}} {{form.username(class_="form-control")}} {% for error in
            form.username.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small></div>
        <div class="col-12 col-md-4"> {{form.password.label}} {{form.password(class_="form-control")}} {% for error in
            form.password.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small> </div>
        <div class="col-12 col-md-4"> {{form.email.label}} {{form.email(class_="form-control")}} {% for error in
            form.email.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6"> {{form.first_name.label}} {{form.first_name(class_="form-control")}} {% for error
            in form.first_name.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small> </div>
        <div class="col-12 col-md-6"> {{form.last_name.label}} {{form.last_name(class_="form-control")}} {% for error in
            form.last_name.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small> </div>
    </div>
    <div class="row">
        <div class="col-12"> {{form.street_address.label}} {{form.street_address(class_=" form-control")}} {% for error
            in form.street_address.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4"> {{form.city.label}} {{form.city(class_="form-control")}} {% for error in
            form.city.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small> </div>
        <div class="col-12 col-md-4"> {{form.state.label}} {{form.state(class_="form-control")}} {% for error in
            form.state.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small> </div>
        <div class="col-12 col-md-4"> {{form.zip_code.label}} {{form.zip_code(class_="form-control")}} {% for error in
            form.zip_code.errors %} <span class="form-text text-danger">{{error}}</span> {% endfor %}<small
                class="form-text text-muted">Required</small> </div>
    </div>
    <div id="verify-btn"><a class="btn btn-primary btn-large mt-2" id="verify-user">Verify Address</a><a
            class="btn btn-success btn-large mt-2 mx-2" id="random-address">Generate Random Address</a></div>
    <div id="verify-user-address" class="mt-2"></div>
</form> {% endblock %}