{% extends 'index.html' %} {% block content %} <div class="container d-flex flex-column align-items-center">
    <h2 class="my-1 dark-blue">Voter Information for Your State</h2>
    <h3 class="text-success">{{user.state.name}}</h6>
        <div class="my-2"><img src="/assets/images/state-flags/{{user.state_id}}.png" alt="" id="state-flag"></div>
</div>
<table class="table table-sm table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>{{user.state.name}} ({{user.state.id}})</td>
        </tr>
        <tr>
            <th scope="row">Capital</th>
            <td>{{user.state.capital}}</td>
        </tr>
        <tr>
            <th scope="row">Voter Registration</th>
            <td><a href="{{user.state.registration_url}}" target="_blank">Register to Vote in {{user.state.name}}</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Upcoming Elections</th>
            <td>
                <a href="{{user.state.elections_url}}" target="_blank">Upcoming Elections in {{user.state.name}}</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Check Your Registration</th>
            <td><a href="{{user.state.check_registration_url}}" target="_blank">Check Your Voter Registration in
                    {{user.state.name}}</a></td>
        </tr>
        <tr>
            <th scope="row">Find Your Polling Location</th>
            <td><a href="{{user.state.polling_location_url}}" target="_blank">Find Your Polling Location in
                    {{user.state.name}}</a></td>
        </tr>
    </tbody>
</table>
<div class="my-3">
    <h2 class="my-1 dark-blue">{{user.state.name}} Registration Deadlines</h2>
    <table class="table table-sm table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Registration Deadline In-Person:</th>
                <td>{{user.state.registration_in_person_deadline}}</td>
            </tr>
            <tr>
                <th scope="row">Registration Deadline By Mail:</th>
                <td>{{user.state.registration_mail_deadline}}</td>
            </tr>
            <tr>
                <th scope="row">Registration Deadline Online</th>
                <td>{{user.state.registration_online_deadline}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="my-3">
    <h2 class="my-1 dark-blue">Public Officials in {{user.state.name}}</h2>
    <table class="table table-sm table-hover table-responsive">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody> {% for office in data['offices'] %} {% set officialIndices = office['officialIndices'] %} {% for index
            in officialIndices %} {% if office['divisionId'] ==
            'ocd-division/country:us/state:{}'.format(user.state.id.lower()) %} <tr>
                <th scope="row">{{office['name']}}</th>
                <td> {% if data['officials'][index]['urls'] %} <a href="{{data['officials'][index]['urls'][0]}}"
                        target="_blank">{% endif %}{{data['officials'][index]['name']}}{% if
                        data['officials'][index]['urls'] %} </a> {% endif %}</td>
            </tr>{% endif %}{% endfor %} {% endfor %} </tbody>
    </table>
</div>
<script>
    const data = {{ data | tojson | safe}}
</script> {% endblock %}