{% extends 'base.html' %} {% block content %} <h1 class="dark-blue">User Profile: {{user.username}}</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
        <tr>
            <th scope="row">Username</th>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <th scope="row">Email Address</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th scope="row">Mailing Address</th>
            <td>{{user.street_address}}<br>{{user.city}}, {{user.state_id}} {{user.zip_code}}</td>
        </tr>
        <tr>
            <th scope="row">County</th>
            <td> {{data2['divisions'][county_key]['name']}} </td>
        </tr>
    </tbody>
</table>
<div class="my-2"><a href="/users/{{user.username}}/edit"><button class="btn btn-primary mx-1">Edit</button></a>
    <form action="/users/{{user.username}}/delete" method="POST" class="d-inline"><button
            class="btn btn-danger mx-1">Delete</button></form>
</div>
<script>
    const data = {{ data | tojson | safe}}
    const data2 = {{ data2 | tojson | safe}}

</script> {% endblock %}